#nav {
    height: 100px;
    width: auto;
    background: rgb(33, 170, 224);
    margin-top: -20px;
}

#navlist {
    height:100px;
    width: auto;
    padding-left: 221px;
    padding-top: 24px;
    
}
.navlistitem {
    list-style: none;
    margin-left: 35px;
    float: left;
    font-size: 35px;
    font-style: bold;


}
#maindiv {
    height:400px;
    width: auto;
    background-color: rgba(22, 180, 16, 0.877);

}

#div1 {
    height: 300px;
    width: 30%;
    float: left;
    background-color: rgb(196, 16, 115);
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}


#div2 {
    height: 300px;
    width: 30%;
    float: left;
    background-color: rgb(196, 16, 115);
    text-align: center;
    margin-left: 44px;
    margin-top: 30px;

}


#div3 {
    height: 300px;
    width: 30%;
    float: right;
    background-color: rgb(196, 16, 115);
    text-align: center;
    margin-right: 20px;
    margin-top: 30px;
}
